.Post {
    align-items: start;
    padding-top: 5px;
    border-bottom: 1px solid #eee;
  }
  
  .Post:hover {
    background-color: #f8f8f8;
  }
  
  .Post a {
    color: #14c;
    text-decoration: none;
  }
  
  .Post a:visited {
    color: #14c;
  }